ul {
    list-style-type: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.monthname {
    display:inline-block;
    cursor: default;
}

.pointer {
    cursor: pointer;
    display: inline-block;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

#calendarWrapper {
    display: flex;
    margin-top: 10px;
    border-radius: 5px;
    color: #ddd;
}

#eventContainer {
    width: 50%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    float: right;
    background: rgba(30,30,30,0.8);
    margin-top: 40px;
    border-left: 2px dashed rgba(197, 164, 126, 0.7);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.selected {
    background-color: rgba(197, 164, 126, 0.7);
}

#SelectedDay {
    text-align: center;
    font-size: 2em;
}

#eventList li {
    margin: 30px 0;
    font-size: 1.6em;
    color: #bbb;
}

#eventInputWrapper {
    width: 100%;
    display: flex;
}

#eventInput {
    margin: 30px 10px 30px 40px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2em;
    background: rgba(100,100,100,0.5);
    border: none;
    border-bottom: 1px solid rgba(200,200,200,0.8);
    color: #bbb;
    padding: 10px 20px;
}

.calendar p {
    margin-bottom: .5em;
    color: white;
    font-size: 2.3em;
}

.calednar p:not(.monthname) {
    font-size: 1.5em;
}

.calendar {
    text-align: center;
    background: rgba(34,34,34,0.7);
    padding: 50px;
    padding-top: 10px;
    max-width: 60%;
    float: left;
    min-height: 20em;
    margin-top: 40px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.calendar ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

.calendar li {
    font-weight: 100;
    font-size: 2em;
    float: left;
    width: -webkit-calc(100%/7);
    text-align: center;
    padding: 1em 0;
    
    cursor: pointer;
    border-bottom: 1px solid #444;
    transition: background 0.5s ease;
}

.calendar li:not(:nth-child(-n+7)):hover,
.calendar li.red {
    background: rgba(34,34,34,1);
}

.calendar li:nth-child(-n+7) {
    color: #666;
    cursor: default;
}

.center {
    text-align: center;
}

@media screen and (max-width: 1200px) {
    #calendarWrapper {
        display: block;
    }
    
    .calendar {
        margin-top: 10px;
        margin-bottom: 0;
        padding: 0;
    }
    
    #eventContainer {
        width: 100%;
        margin: 0;
        height: auto;
        
        border-top-right-radius: 0;
        border-bottom-left-radius: 5px;
        border-left: none;
        border-top: 2px dashed rgba(197, 164, 126, 0.7);
    }
}

@media screen and (max-width: 800px) {
    .calendar li {
        font-size: 1.4em;
        padding: 0.7em 0;
    }
}