@font-face { font-family: 'Roboto'; src: url('../fonts/Roboto-Light.ttf'); }

/*
#272727 -- grey

#323232 -- lighter grey

#c5a47e -- gold 

#747474

#F3F3F3

Using oswald for a font
*/


html {
    background: #272727;
    font-family: 'Roboto', arial;
}

body {
    padding: 20px 300px;
}

#WeatherWrapper {
    width: 100%;
    margin-bottom: 20px;
}

#WeatherList {
    width: 100%;
    display: table;
}

.WeatherElement {
    width: 13.28%;
    margin: 0;
    float: left;
    display: table-row;
    text-align: center;
    box-shadow: 0px 0px 10px black;
    color: #272727;
    margin: 0.5%;
}

.weatherFooter {
    padding-top: 7px;
    padding-bottom: 5px;
    color: white;
    background-color: #323232;
    border-top: 1px dashed #c5a47e;
}

label {
    font-size: 13px;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 100;
    text-align: center;
}

#ToDoList {
    color: white;
    max-width: 100%;
    word-break: keep-all;
}

#ToDoList .ToDoElement {
    background: #454545;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px black;
    align-items: center;
    display: flex;
    width: 100%;
    
    cursor: pointer;
	transition: all ease 0.8s;
    border-left: 1px solid #c5a47e;
    border-right: 1px solid #c5a47e;
}

#inputWrapper {
    word-break: keep-all;
}

#inputWrapper input {
    border-radius: 0;
    background: #323232;
    border: none;
    border-bottom: 1px dashed #c5a47e;
    color: white;
    min-width: 100%;
    padding: 6px 12px;
    line-height: 1.5;
    font-size: 14px;
}

/* Removes blue outline on everything */
*:focus {
    outline: none !important;
}

.ToDoElement.over {
  border-top: 2px solid white;
}

.ToDoElement .ToDoContentWrapper {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    padding: 10px;
}

.ToDoContent {
    cursor: text !important;
    font-size: 16px;
}

.IconWrapper {
    min-width: 70px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    height: 55px !important;
}

.ToDoTime {
    margin-top: 1px;
    font-size: 11px;
    color: #999999;
    display: inline-block;
    min-width: 150px;
}

.ToDoElement br {
    display: none;
}

.done {
    background: #323232 !important;
    /* background: rgba(237,197,152, 0.8) !important; */
    /* color: rgba(200,200,200,0.8); */
}

.done .ToDoContent {
    color: rgba(255,255,255,0.6);
}

.done .ToDoTime {
    color: rgba(255,255,255,0.2);
}

.fa.fa-undo {
    display: none;
}

.done .fa.fa-undo {
    display: inherit !important;
    margin-right: 8px;
}

.done .fa.fa-undo::before {
    margin: 0 1px;
}

.done .fa.fa-check {
    display: none;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.fa-check {
    margin-right: 8px;
}
.fa-times {
    padding: 4px 5px !important;
}

.fa {
    color: white;
    position: relative;
    padding: 4px;
    float: right;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: 14px !important;
}

@media only screen and (max-width: 1500px) {
    body {
        padding: 20px 20px;
    }
    .icon {
        font-size: 0.7em !important;
    }
    .calendar {
        max-width: 100% !important;
    }
}

@media only screen and (max-width: 650px) {
    .icon {
        font-size: 0.5em !important;
    }
    body {
        padding: 5px 5px;
    }
    
    .WeatherElement {
        width: 29%;
        margin: 1% 2%;
    }
    .WeatherElement:nth-of-type(4), .WeatherElement:nth-of-type(5), .WeatherElement:nth-of-type(6), .WeatherElement:nth-of-type(7) {
        display: none;
    }
    .calendar {
        max-width: 100% !important;
    }
}