@font-face { font-family: 'Abel'; src: url('../fonts/Abel-Regular.ttf'); }
@font-face { font-family: 'Roboto'; src: url('../fonts/Roboto-Light.ttf'); }

/*Gets the icons for the weather*/
@font-face { font-family: 'weather';
              src: url('../fonts/artill_clean_icons.otf');
              font-weight: normal;
              font-style: normal;}

* {
    margin: 0px;
    padding: 0;
    -webkit-text-size-adjust: none;
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Roboto;
  background-color: #dfdfdf;
}

#wrapper{
  min-height: 100%;
  position: relative;
}

li a{
  color: #dfdfdf;
  margin: 20px;
  padding: 3px;
  text-decoration: none;
}

header {
  display: inline-block;
  width: 100%;
  background-image: url('../img/CodeBannerGrey.png');
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
  border: 0;
  margin: 0;
  padding: 0;
  min-height: 450px;
}

/*CSS for the loading screen*/
#loading {
     width: 100%;
     height: 100%;
     top: 0px;
     left: 0px;
     position: fixed;
     display: block;
     z-index: 99;
     text-align: center;
     background-color: #121212;
}

#loading-image {
     position: fixed;
     text-align: center;
     margin: 0 auto 0 auto;
     left: 0;
     right: 0;
     top: 100px;
     z-index: 100;
     background-color: rgb(55, 55, 55);
}

#Greeting h1 {
  text-align: center;
  color: #dfdfdf;
}

#Greeting h1 span{
  position: relative;
  top: 100px;
  background-color: rgba(25, 25, 25, 0.2);
  border-bottom: 2px solid #dfdfdf;
}

#Quote {
  margin-top: 10px;
  font-size: 15px;
}

h1 {
  text-align: center;
  color: #15151A;
  font-size: 5em;
}

h3 {
  text-align: center;
  color: #15151A;
  font-size: 2em;
}

p {
  text-align: center;
  color: #15151A;
  font-size: 2em;
}

#ToDoList {
    text-align: center;
    display: inline-block;
}

.list {
	font-family:garamond;
	color:#cc0000;
}

#weather {
  width: 500px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

i {
  color: #15151A;
  font-family: weather;
  font-size: 170px;
  font-weight: normal;
  font-style: normal;
  text-transform: none;

  /*Moves it up a bit*/
  line-height: 0.2;
  position: relative;
  top: 10px;

}

/*Huge list of all weather icons!*/
.weathericon-0:before { content: ":"; }
.weathericon-1:before { content: "p"; }
.weathericon-2:before { content: "S"; }
.weathericon-3:before { content: "Q"; }
.weathericon-4:before { content: "S"; }
.weathericon-5:before { content: "W"; }
.weathericon-6:before { content: "W"; }
.weathericon-7:before { content: "W"; }
.weathericon-8:before { content: "W"; }
.weathericon-9:before { content: "I"; }
.weathericon-10:before { content: "W"; }
.weathericon-11:before { content: "I"; }
.weathericon-12:before { content: "I"; }
.weathericon-13:before { content: "I"; }
.weathericon-14:before { content: "I"; }
.weathericon-15:before { content: "W"; }
.weathericon-16:before { content: "I"; }
.weathericon-17:before { content: "W"; }
.weathericon-18:before { content: "U"; }
.weathericon-19:before { content: "Z"; }
.weathericon-20:before { content: "Z"; }
.weathericon-21:before { content: "Z"; }
.weathericon-22:before { content: "Z"; }
.weathericon-23:before { content: "Z"; }
.weathericon-24:before { content: "E"; }
.weathericon-25:before { content: "E"; }
.weathericon-26:before { content: "3"; }
.weathericon-27:before { content: "a"; }
.weathericon-28:before { content: "A"; }
.weathericon-29:before { content: "a"; }
.weathericon-30:before { content: "A"; }
.weathericon-31:before { content: "6"; }
.weathericon-32:before { content: "1"; }
.weathericon-33:before { content: "6"; }
.weathericon-34:before { content: "1"; }
.weathericon-35:before { content: "W"; }
.weathericon-36:before { content: "1"; }
.weathericon-37:before { content: "S"; }
.weathericon-38:before { content: "S"; }
.weathericon-39:before { content: "S"; }
.weathericon-40:before { content: "M"; }
.weathericon-41:before { content: "W"; }
.weathericon-42:before { content: "I"; }
.weathericon-43:before { content: "W"; }
.weathericon-44:before { content: "a"; }
.weathericon-45:before { content: "S"; }
.weathericon-46:before { content: "U"; }
.weathericon-47:before { content: "S"; }

#weather h2 {
  margin: 0 0 8px;
  color: #15151A;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

#weather li {
  color: white;
  background: #15151A;
  padding: 15px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}

/*Navigation Bar*/
nav {
  margin: 0 auto 0 auto;
  text-align: center;
}

nav ul {
  list-style-position: inside;
  text-align: center;
  font-size: 2em;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background: transparent;
  /*background-color: #dddddd;*/
}

nav ul li {
  display: inline-block;
  margin: 10px;
}

nav ul li a {
   color: #dfdfdf;
   margin: 20px;
   padding: 3px;
   text-decoration: none;
}

nav ul li a:hover:not(.active) {
  border-bottom: 2px solid #dfdfdf;
  color: white;
}

.active {
  border-bottom: 2px solid white;
  color: white;
}

::selection {
  /*background: #ffb7b7;*/
  background: rgba(115, 70, 70, 0.79);
}


footer {
  position: absolute;
  bottom:0px;
  width:100%;
  height:450px;   /* Height of the footer */
  background-image: url('../img/FooterImage.png');
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
}
