js-weather-details {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #323232;
    left: -100vw;
    top: 0;
    z-index: 10;
    transition-timing-function: cubic-bezier(0.23, 0.86, 0.38, 0.91);
    transition-duration: 0.3s;
    overflow: hidden;
}

js-weather-details.active {
    left: 0;
}

body {
    transition: all 0.3s ease;
}

body.active {
    overflow:hidden;
}