#login {
    padding: 0px;
    height: 50px;
    font: inherit;
    line-height: inherit;
}

* {
    box-sizing: border-box;
}

html {
    background: -webkit-linear-gradient(to bottom left, rgba(29, 67, 80, 0.4), rgba(164, 57, 49, 0.4));
    background: -o-linear-gradient(to bottom left, rgba(29, 67, 80, 0.4), rgba(164, 57, 49, 0.4));
    background: -moz-linear-gradient(to bottom left, rgba(29, 67, 80, 0.4), rgba(164, 57, 49, 0.4));
    background: linear-gradient(to bottom left, rgba(10, 10, 10, 0.85), rgba(20, 20, 20, 0.85));
    
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    
    font-size: 14px;
}

body {
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    color: #EEEEEE;
}

#passLabel {
    margin-top: 20px;
}

#usernameWrapper, #passwordWrapper {
    border-bottom: 1px dashed #c5a47e !important;
    margin-bottom: 20px;
}

i {
    margin-right: -10px;
}

input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    display: inline-block;
    box-shadow: inset 0 0 0 0 #31302B;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

input[type=password]{
    margin-left: 5px;
}

input:focus {outline:0;}

/* Set a style for all buttons */
button {
    background: linear-gradient(to right, white, #c5a47e);
    color: #222222;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    box-shadow: inset 0 0 0 0 #999999;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}

button:hover {
    box-shadow: inset 508px 0 0 0 #DDDDDD;
}

.container {
	position:absolute;
    left:0; right:0;
    top:0; bottom:0;
	margin:auto;
	
	max-width: 550px;
	max-height: 240px;
    padding: 20px;
    
    border: 1px solid #777777;
    box-shadow: 0px 0px 10px #272727;
    background-color: #363636;
    
    margin-right: auto;
    margin-left: auto;
}

.container input {
    background-color: transparent;
    font-size: 14px;
    line-height: 20px;
    color: #EEEEEE;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media only screen and (max-width: 550px) {
    .container {
        margin-left: 5px;
        margin-right: 5px;
        border: none;
        box-shadow: none;
        background-color: transparent;
    }
}

input::placeholder  {
  color: #BBBBBB !important;
}

@font-face { font-family: 'Raleway'; src: url('../fonts/Raleway-Regular.ttf'); }
@font-face { font-family: 'Roboto'; src: url('../fonts/Roboto-Light.ttf'); }