@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');

#login {
    padding: 0px;
    height: 50px;
}

.spinner {
  width: 50px;
  height: 24px;
  text-align: center;
  font-size: 10px;
  margin-left: 232px;
  transition: all 0.5s ease;
}

.spinner > div {
  background-color: #444444;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

html {
    background: -webkit-linear-gradient(to bottom left, rgba(29, 67, 80, 0.4), rgba(164, 57, 49, 0.4)), url(../img/LandscapeBackground.png);
    background: -o-linear-gradient(to bottom left, rgba(29, 67, 80, 0.4), rgba(164, 57, 49, 0.4)), url(../img/LandscapeBackground.png);
    background: -moz-linear-gradient(to bottom left, rgba(29, 67, 80, 0.4), rgba(164, 57, 49, 0.4)), url(../img/LandscapeBackground.png);
    background: linear-gradient(to bottom left, rgba(29, 67, 80, 0.4), rgba(164, 57, 49, 0.4)), url(../img/LandscapeBackground.png);
    
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
}

body {
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    color: #EEEEEE;
}

#passLabel {
    margin-top: 20px;
}

#usernameWrapper, #passwordWrapper {
    border-bottom: 1px solid #848484 !important;
    margin-bottom: 20px;
}

i {
    margin-right: -10px;
}

input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    display: inline-block;
    box-shadow: inset 0 0 0 0 #31302B;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

input:focus {outline:0;}

/* Set a style for all buttons */
button {
    background-color: #DDDDDD;
    color: #222222;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    box-shadow: inset 0 0 0 0 #999999;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}

button:hover {
    box-shadow: inset 508px 0 0 0 #DDDDDD;
}

.container {
	position:absolute;
    left:0; right:0;
    top:0; bottom:0;
	margin:auto;
	
	max-width: 550px;
	max-height: 240px;
    padding: 20px;
    
    border: 1px solid #888888;
    box-shadow: 0px 0px 10px #333333;
    background-color: rgba(196, 196, 196, 0.05);
}

.container input {
    background-color: transparent;
}

@media only screen and (max-width: 550px) {
    .container {
        margin-left: 5px;
        margin-right: 5px;
        border: none;
        box-shadow: none;
        background-color: transparent;
    }
}

input::placeholder  {
  color: #BBBBBB !important;
}

