#mapid { height: 100%; width: 100%; }
#mapContainer {  height: 100%; overflow:hidden; display: block; }
h2 { text-align: center; }
body { font-family: 'Lato', sans-serif !important; height: 100%; }
html { height: 100%; }
#Submit { text-align: center; max-width: 800px; margin: 10px auto; }

.flexContainer {
    height: 100%;
}
.app {
    background: green;
}
.mapContainer {
    background: pink;
}
.flexbox.flexContainer {
    display: flex;
    flex-direction: column;
}
.flexbox.container .mapContainer {
    flex-grow: 1;
}


#ResultOverlay {
    width: 300px;
    position: absolute;
    height: 100vh;
    top: 0;
    z-index: 1000;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
    overflow-y: auto;
    overflow-x: hidden;
}

.Result {
    padding: 10px;
    background: white;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
    transition: all 0.5s ease;
}

#ResultSubmit {
    padding: 10px 20px 0px 20px;
}

.Result:hover {
    background-color: #f4f4f4;
    transition: all 0.5s ease;
}

@media (max-width: 800px) {
    #ResultOverlay {
        display: none;
    }
}

@media (min-width: 800px) {
    #HeaderSubmit {
        display: none;
    }
    .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
        left: 300px;
    }
}