@font-face { font-family: 'Roboto'; src: url('../fonts/Roboto-Light.ttf'); }

/*
#272727 -- grey

#323232 -- lighter grey

#c5a47e -- gold 

#747474

#F3F3F3

Using oswald for a font

linear-gradient(to bottom, rgba(53, 53, 53, 01), rgba(40,40,40, 0.98))
*/


html {
    font-family: 'Roboto', arial;	
    background: linear-gradient(to bottom left, rgba(47,47,47,0.98), rgba(39,39,39, 0.98));
    min-height: 100%;
    margin: auto;
    padding: 0;
}

body {
    padding: 20px 300px;
    background-position: center center;
    background-repeat: no-repeat;		
    background-position: right top;		
    background-attachment: fixed;		
    background-size: cover;
}

body {
    transition: all 0.3s ease;
}

body.active {
    overflow:hidden;
}

body.active #WeatherList, body.active #ToDoWrapper, body.active #calendarWrapper {
    opacity: 0.3;
}

label {
    font-size: 13px;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 100;
    text-align: center;
}

#ToDoList {
    color: white;
    max-width: 100%;
    word-break: keep-all;
}

#ToDoList .ToDoElement {
    background: rgba(100,100,100,0.6);
    margin-bottom: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    align-items: center;
    display: flex;
    width: 100%;
    
    cursor: pointer;
	transition: all ease 0.8s;
    border-left: 1px solid #c5a47e;
    border-right: 1px solid #c5a47e;
}

#inputWrapper {
    word-break: keep-all;
}

#inputWrapper input {
    border-radius: 0;
    background: #323232;
    border: none;
    border-bottom: 1px dashed #c5a47e;
    color: white;
    min-width: 100%;
    padding: 6px 12px;
    line-height: 1.5;
    font-size: 14px;
}

/* Removes blue outline on everything */
*:focus {
    outline: none !important;
}

.ToDoElement.over {
  border-top: 2px solid white;
}

.ToDoElement .ToDoContentWrapper {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    padding: 10px;
}

.ToDoContent {
    cursor: text !important;
    font-size: 16px;
}

.IconWrapper {
    min-width: 70px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    height: 55px !important;
}

.ToDoTime {
    margin-top: 1px;
    font-size: 11px;
    color: #999999;
    display: inline-block;
    min-width: 150px;
}

.ToDoElement br {
    display: none;
}

.done {
    background: rgba(80,80,80,0.33) !important;
}

.done .ToDoContent {
    color: rgba(255,255,255,0.6);
}

.done .ToDoTime {
    color: rgba(255,255,255,0.2);
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

@media only screen and (max-width: 1500px) {
    body {
        padding: 20px 20px;
    }
    #WeatherList .icon {
        font-size: 0.7em !important;
    }
    .calendar {
        max-width: 100% !important;
    }
}

@media only screen and (max-width: 1100px) {
    .WeatherDetails  {
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    #WeatherList .icon {
        font-size: 0.5em !important;
    }
    
    body {
        padding: 5px 5px;
    }
    
    .WeatherElement {
        width: 29%;
        margin: 1% 2%;
    }
    
    /* Keeps only most recent 3 weather icons */
    .WeatherElement:nth-of-type(4), .WeatherElement:nth-of-type(5), .WeatherElement:nth-of-type(6), .WeatherElement:nth-of-type(7) {
        display: none;
    }
}

/* Defines Styling for Scrollbar */
::-webkit-scrollbar-track {
      background-color: #363636;
}
 
::-webkit-scrollbar-thumb {
      background-color: #272727;
}
 
::-webkit-scrollbar-corner {
      background-color: #272727;
}

::-webkit-scrollbar {
      width: 10px;
    box-shadow: 0 0 5px black;
}

/* Defines Highlight text background-color */
::selection {
    background-color: #999;
}

::-moz-selection {
    background-color: #999;
}